.header{
    text-align: center;
    font-size: 3rem;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
}
.img-container{
    flex: 1;
    img{
        margin:15px;
        width:150px; 
        height:150px;
        border: 3px solid gray;
    }
 }