.header{
    text-align: center;
    font-size: 3rem;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
}
.img-container{
    flex: 1;
    img{
        margin:15px;
        width:150px; 
        height:150px;
        border: 3px solid gray;
    }
 }
 .search-box{
    height: 3rem;
    border-radius: 0.5rem;
    min-width: 10rem;
    padding-left: 5px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
 }
 .photo-title{
     text-align: center;
     font-size: 1.4rem;
 }
 .input-box {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 15px 25px;
    position: relative;
    line-height: 28px;
    min-height: 59px;
    display: flex;
    flex-wrap: wrap;
    
}
.apply-saved-search{
    justify-content: center;
}
.btn{
    border: gray;
    border-width: 2px;
    max-width: 20rem;
    min-width: 10rem;
    background: darkgray;
    height: 3rem;
    flex: 1;
}
.multi-select{
    flex: 1;
    min-width: 10rem;
}
.relation{
    margin-left: 20px;
}